---
import PocketBase from '../../../public/lib/pocketbase.mjs';
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Headersite.astro";
import Footer from "../../components/Footer.astro";
---

<Layout>
  <Header />
<div>
  <div class='op-interactive' id='68400fe16e38e71c08369576' data-title='Testez vos Connaissances en Cybersécurité' data-url='https://adrienchoulet1.outgrow.us/68400fe16e38e71c08369576?vHeight=1' data-width='100%'>
  </div>
    <script>var og_temp=document.createElement('script');og_temp.async=true;og_temp.defer=true;og_temp.src='//dyv6f9ner1ir9.cloudfront.net/assets/js/nloader.js',og_temp.onload=function(){initIframe('68400fe16e38e71c08369576')},document.querySelector('head').appendChild(og_temp)</script>
</div>

  <Footer />
</Layout>


