---
import PocketBase from '../../../public/lib/pocketbase.mjs';
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Headersite.astro";
import Footer from "../../components/Footer.astro";
---

<Layout>
  <Header />
<body>
  <div>
    <script 
      src="https://backend.plug-and-quiz.com/api/embed/embed.js"
      data-domainId="a56a0647-0225-41e4-bd5b-0fef574f9501"
      data-position="bottom-right"
      defer>
    </script>
  </div>
</body>
  

  <Footer />

  
</Layout>

