---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Headersite.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />

  <main class="px-6 pt-28 pb-20 text-white max-w-5xl mx-auto space-y-12">

    
    <div class="text-center space-y-2">
      <h1 class="text-2xl md:text-3xl font-bold">Un email qui peux gâcher ta vie ! ✅</h1>
      <div class="flex justify-center gap-4 text-sm text-gray-400">
        <span>👍 145</span>
        <span>👎 6</span>
      </div>
    </div>

    
    <div class="text-center space-y-4">
      <p class="text-sm">
        Tu as reçu un email de la <strong>DIRECTION GÉNÉRALE DE LA POLICE JUDICIAIRE</strong> /
        <strong>DIRECTION DE PROTECTION DES MINEURES</strong> de Paris.
      </p>
      <p class="text-sm text-gray-300">
        Lis et analyse cet email pour trouver les fraudes et débloquer ton badge !
      </p>

      
      <img src="/police.webp" alt="Logo Police Judiciaire" class="w-28 mx-auto mt-4" />
    </div>

   
    <div class="w-full rounded-lg overflow-hidden shadow-xl">
      <img src="/email.webp" alt="Email phishing mission" class="w-full h-auto" />
    </div>

    <div>
        <div class='op-interactive' id='68402e696e38e71c0838519f' data-title='Reconnaître un faux mail d’usurpation administrative' data-url='https://adrienchoulet1.outgrow.us/68402e696e38e71c0838519f?vHeight=1' data-width='100%'>
        </div>
            <script>var og_temp=document.createElement('script');og_temp.async=true;og_temp.defer=true;og_temp.src='//dyv6f9ner1ir9.cloudfront.net/assets/js/nloader.js',og_temp.onload=function(){initIframe('68402e696e38e71c0838519f')},document.querySelector('head').appendChild(og_temp)</script>
    </div>

  </main>

  <Footer />
</Layout>
